<%= form_for [@customer, @installation] do |f| %>
  <% if @installation.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@installation.errors.count, "error") %> prohibited this installation from being saved:</h3>
      <ul>
      <% @installation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
   <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
