<%= form_for(@installation) do |f| %>
  <% if @installation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@installation.errors.count, "error") %> prohibited this installation from being saved:</h2>

      <ul>
      <% @installation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
