<h1>Your installations</h1>
<table>
  <thead>
    <tr>
      <th>Installation</th>
      <th>Active</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @installations.find_each do |installation| %>
      <tr>
        <td><%= link_to installation.name, installation_path(installation) %></td>
        <td><%= current_state(installation) %></td>
        <td><%= link_to "Edit", edit_installation_path(installation) %></td>
        <td><%= link_to "Delete", installation_path(installation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add an installation", new_customer_installation_path(@customer) %>
