<p id="notice"><%= notice %></p>
<h1><%= @installation.name %></h1>
<h2>Installation created: <%= creation_date(@installation) %></h2>
<p>This installation is currently <%= current_state(@installation) %>.</p>
<h2>Beacons</h2>
<% if has_beacons?(@installation) %>
  <table>
    <thead>
      <tr>
        <th>Beacon</th>
        <th>Active</th>
        <th>Content</th>
        <th>Type</th>
        <th>Audio</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% n = 1 %>
      <% @installation.beacons.find_each do |beacon| %>
        <tr>
          <td><%= link_to "Item #{n}", beacon_path(beacon) %></td>
          <td><%= current_state(beacon) %> </td>
          <td><%= beacon.content %></td>
          <td><%= beacon.content_type %></td>
          <td><%= beacon.audio %></td>
          <td><%= link_to 'Edit', edit_beacon_path(beacon) %></td>
          <td><%= link_to 'Destroy', beacon_path(beacon), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% n += 1 %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This installation currently has no beacons.</p>
<% end %>
<%= link_to "Add a beacon", new_beacon_path %><br>
<%= link_to "Edit installation", edit_installation_path(@installation) %><br>
<%= link_to "Back to Installations", customer_installations_path(@customer) %>