<div class="row">
  <div class="col-md-3">
    <div id="installation-show-image">
      <style>
        #installation-show-image { 
          background-image: url(<%= @installation.image %>); 
        }
      </style>
    </div>
    <%= link_to "Edit this Installation", edit_installation_path(@installation), class: "button" %>
    <%= link_to "Delete this Installation", installation_path(@installation), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
    <span class="info">Created: <%= creation_date(@installation) %></span>
    <span class="info">Status: <%= current_state(@installation) %></span>
  </div>
  <div class="col-md-9">
    <h2><%= @installation.name %></h2>
      <table>
        <thead>
          <tr>
            <th>Active</th>
            <th>Beacon</th>
            <th>Content</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5">
              <%= link_to "Add A New Beacon", new_beacon_path %>
            </td>
          </tr>
          <% if has_beacons?(@installation) %>
            <% n = 1 %>
            <% @installation.beacons.find_each do |beacon| %>
                <tr>
                  <td><%= current_state(beacon) %></td>
                  <td><%= link_to "Item ##{n}", beacon_path(beacon)%></td>
                  <td><%= display_beacon_description(beacon) %></td>
                  <td class="td-action"><%= link_to image_tag("table-edit-icon.png"), edit_beacon_path(beacon), class: "table-icon" %></td>
                  <td class="td-action"><%= link_to image_tag("table-delete-icon.png"), beacon_path(beacon), method: :delete, data: { confirm: "Are you sure?" }, class: "table-icon" %></td>
                </tr>
              <% n += 1 %>
            <% end %>
          <% else %>
            <tr><td colspan="5">No beacons</td></tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
