<p id="notice"><%= notice %></p>
<h2><%= @installation.name %> Installation</h2>
<ul>
  <li><b>Installation created:</b> <%= creation_date(@installation) %></li>
  <li><b>Status:</b> <%= current_state(@installation).capitalize %></li>
</ul>
<h3>Beacons</h3>
<% if has_beacons?(@installation) %>
  <table>
    <thead>
      <tr>
        <th>Beacon</th>
        <th>Active</th>
        <th>Content</th>
        <th>Type</th>
        <th>Audio</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% n = 1 %>
      <% @installation.beacons.find_each do |beacon| %>
        <tr>
          <td><%= link_to "Item #{n}", beacon_path(beacon) %></td>
          <td><%= current_state(beacon).capitalize %> </td>
          <td><%= beacon.content %></td>
          <td><%= beacon.content_type %></td>
          <td><%= beacon.audio %></td>
          <td><%= link_to "Edit", edit_beacon_path(beacon) %></td>
          <td><%= link_to "Destroy", beacon_path(beacon), method: :destroy, data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% n += 1 %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This installation currently has no beacons.</p>
<% end %>
<%= link_to "Add a Beacon", new_beacon_path %><br>
<%= link_to "Edit #{@installation.name.capitalize} Installation", edit_installation_path(@installation) %><br>
<%= link_to "Back to Installations", installations_path(@customer) %>
