<p id="notice"><%= notice %></p>

<h1><%= @installation.name %></h1>

<table>
  <thead>
    <tr>
      <th>Minor</th>
      <th>Content</th>
      <th>Type</th>
      <th>Audio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @installation.beacons.each.each do |beacon| %>
      <tr>
        <td><%= beacon.minor_id %></td>
        <td><%= beacon.content %></td>
        <td><%= beacon.content_type %></td>
        <td><%= beacon.audio %></td>
        <td><%= link_to 'Show', customer_installation_beacon_path(@customer, @installation, beacon) %></td>
        <td><%= link_to 'Edit', edit_customer_installation_beacon_path(@customer, @installation, beacon) %></td>
        <td><%= link_to 'Destroy', customer_installation_beacon_path(@customer, @installation, beacon), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to image_tag("add.png"), new_customer_installation_beacon_path(@customer,@installation) %><br>
<%= link_to "Back to Installations", customer_installations_path(@customer) %>