<%= form_for(@customer, html: {class: "form"}) do |f| %>
  <h2><%= customer_form_title(request) %></h2>
  <div class="form-contents-wrap">
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
        <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :name, class: "resource-name-label"  %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address, class: "resource-name-label"  %>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :category, class: "resource-name-label"  %>
      <%= f.select :category, options_for_select(["Museum","Exhibit Design Firm","Corporation","Stadium","Walking Tour"]) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
