<%= form_for [@customer, @installation, @beacon] do |f| %>
  <% if @beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>
      <ul>
      <% @beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Beacon Info</h2>
    <div class="field">
      <%= f.label :minor_id, "Minor ID" %><br>
      <%= f.number_field :minor_id %>
    </div>
    <div class="field">
      <%= f.label :major_id, "Major ID" %><br>
      <%= f.number_field :major_id %>
    </div>
    <div class="field">
      <%= f.label :latitude %><br>
      <%= f.number_field :latitude , step: "any", min: "-90", max: "90" %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br>
      <%= f.number_field :longitude, step: "any", min: "-180", max: "180" %>
    </div>
    <div class="field">
      <%= f.label :uuid, "UUID" %><br>
      <%= f.text_field :uuid, placeholder: "Do not enter a UUID unless explicitly instructed to do so." %>
    </div>
  <h2>Content Info</h2>
    <div class="field">
      <%= f.label :content, "Content description" %><br>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :content_type %><br>
      <%= f.text_field :content_type %>
    </div>
    <div class="field">
      <%= f.label :audio %><br>
      <%= f.text_field :audio %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
