<p id="notice"><%= notice %></p>
<h2>Beacon</h2>
<ul>
  <li><b>Installation:</b> <%= @installation.name %></li>
  <li><b>State:</b> <%= current_state(@beacon).capitalize %></li>
</ul>
<div class="map-wrap">
  <div id="beacon-map"></div>
</div>
<ul>
  <li><b>Latitude:</b> <%= cardinalized_latitude(@beacon) %></li>
  <li><b>Longitude:</b> <%= cardinalized_longitude(@beacon) %></li>
</ul>
<h3>Beacon Info</h3>
<ul>
  <li><b>Minor ID:</b> <%= @beacon.minor_id %></li>
  <li><b>Major ID:</b> <%= @beacon.major_id %></li>
  <li><b>UUID:</b> <%= @beacon.uuid %></li>
</ul>
<h3>Content Info</h3>
<ul>
  <li><b>Content:</b> <%= @beacon.content %></li>
  <li><b>Type:</b> <%= @beacon.content_type %></li>
  <li><b>Audio:</b> <%= @beacon.audio %></li>
</ul>
<%= link_to "Edit Beacon", edit_beacon_path(@beacon) %><br>
<%= link_to "Back to #{@installation.name.capitalize} Installation", installation_path(@installation) %>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'beacon-map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>