<p id="notice"><%= notice %></p>
<h1>Your beacon</h1>
<h2>Installation: <%= @installation.name %></h2>
<div class="map-wrap">
  <div id="beacon-map"></div>
</div>
<h2>Beacon info</h2>
<table>
  <thead>
    <tr>
      <th>Minor ID</th>
      <th>Major ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>UUID</th>
      <th>State</th>
      <th>Content</th>
      <th>Type</th>
      <th>Audio</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @beacon.minor_id %></td>
        <td><%= @beacon.major_id %></td>
        <td><%= @beacon.latitude %></td>
        <td><%= @beacon.longitude %></td>
        <td><%= @beacon.uuid %></td>
        <td><%= current_state(@beacon).capitalize %></td>
        <td><%= @beacon.content %></td>
        <td><%= @beacon.content_type %></td>
        <td><%= @beacon.audio %></td>
      </tr>
  </tbody>
</table>
<%= link_to "Edit beacon", edit_customer_installation_beacon_path(@customer, @installation, @beacon) %><br>
<%= link_to "Back to #{@installation.name.capitalize} installation", 
  customer_installation_path(@customer,@installation) %>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'beacon-map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>