<div class="row">
  <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-6 ">
    <div class="image-wrap-main">
      <div class="image-wrap" id="beacon-map"></div>
    </div>
    <div class="button-row">
      <%= link_to "Edit Beacon", edit_beacon_path(@beacon), class: "button" %>
      <%= link_to "Delete Beacon", beacon_path(@beacon), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
      <div class="clearfix"></div>
      <ul class="info">
        <li>
          <span class="info-label">Installation:</span> <%= @installation.name %>
        </li>
        <li>
          <span class="info-label">State:</span> <%= current_state(@beacon) %>
        </li>
    </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6">
    <h2>Beacon</h2>
    <ul class="info">
      <li><span class="info-label">Minor ID:</span> <%= display_id(@beacon.minor_id) %></li>
      <li><span class="info-label">Major ID:</span> <%= display_id(@beacon.major_id) %></li>
      <li><span class="info-label">UUID:</span> <%= @beacon.uuid %></li>
    </ul>
    <h3>Content Info</h3>
    <ul class="info">
      <li><span class="info-label">Description:</span> <%= display_beacon_description(@beacon) %></li>
      <li><span class="info-label">File Type:</span> <%= display_beacon_content_type(@beacon.content_type) %></li>
      <li><span class="info-label">File Name:</span> <%= display_beacon_content(@beacon) %></li>
      <li><span class="info-label">Audio File:</span> <%= display_audio(@beacon.audio_file_name) %></li>
    </ul>
  </div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'beacon-map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
