<h2>Beacon</h2>
<ul>
  <li><b>Installation:</b> <%= @installation.name %></li>
  <li><b>State:</b> <%= current_state(@beacon) %></li>
</ul>
<div class="beacon-page-column-wrap">
  <% if check_coordinates(@beacon) %>
    <div class="map-wrap">
      <div id="beacon-map"></div>
    </div>
    <ul>
      <li><b>Latitude:</b> <%= cardinalized_latitude(@beacon) %></li>
      <li><b>Longitude:</b> <%= cardinalized_longitude(@beacon) %></li>
    </ul>
  <% else %>
    <%= image_tag "map-missing.png" %>
    <p>Beacon does not have any attached coordinates.</p>
  <% end %>
</div>
<div class="beacon-page-column-wrap">
  <h3>Beacon Info</h3>
  <ul>
    <li><b>Minor ID:</b> <%= display_id(@beacon.minor_id) %></li>
    <li><b>Major ID:</b> <%= display_id(@beacon.major_id) %></li>
    <li><b>UUID:</b> <%= @beacon.uuid %></li>
  </ul>
  <h3>Content Info</h3>
  <ul>
    <li><b>Description:</b> <%= display_beacon_description(@beacon) %></li>
    <li><b>File Type:</b> <%= display_beacon_content_type(@beacon.content_type) %></li>
    <li><b>File Name:</b> <%= display_beacon_content(@beacon) %></li>
    <li><b>Audio File:</b> <%= display_audio(@beacon.audio_file_name) %></li>
  </ul>
</div>
<div id="beacon-show-page-link-wrapper">
<%= link_to "Edit Beacon", edit_beacon_path(@beacon) %><br>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'beacon-map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
