<p id="notice"><%= notice %></p>
<h1>Show Beacon</h1>

Minor ID: <%= @beacon.minor_id %><br>
Major ID: <%= @beacon.major_id %><br>
Latitude: <%= @beacon.latitude %><br>
Longitude: <%= @beacon.longitude %><br>
Content: <%= @beacon.content %><br>
Content type: <%= @beacon.content_type %><br>
Audio: <%= @beacon.audio %><br>

<%= link_to "Edit", edit_customer_installation_beacon_path(@customer, @installation, @beacon) %> |
<%= link_to "Back to #{@installation.name.capitalize} installation", 
  customer_installation_path(@customer,@installation) %>

