<h1>Listing audio_clips</h1>

<table>
  <thead>
    <tr>
      <th>Caption</th>
      <th>Beacon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audio_clips.each do |audio_clip| %>
      <tr>
        <td><%= audio_clip.caption %></td>
        <td><%= audio_clip.beacon_id %></td>
        <td><%= link_to 'Show', audio_clip %></td>
        <td><%= link_to 'Edit', edit_audio_clip_path(audio_clip) %></td>
        <td><%= link_to 'Destroy', audio_clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audio clip', new_audio_clip_path %>
