<h2>Account Users</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.find_each do |user| %>
      <tr>
        <td><%= full_name(user) %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <% if user == @user %>
          <td><%= link_to "Edit", edit_user_path(user) %></td>
          <td><%= link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to Account", customer_path(@customer) %>
