<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select(["Food", "Museum"]) %>
  </div>
  <div class="field">
      <%= f.label :latitude %><br>
      <%= f.number_field :latitude , step: "any", min: "-90", max: "90" %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br>
      <%= f.number_field :longitude, step: "any", min: "-180", max: "180" %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
