<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>New company account</h2>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <h2>Existing company account</h2>
  <div class="field">
    <%= f.label :activation_code %><br>
    <%= f.text_field :activation_code, placeholder: "Only enter an activation code if your company already has an account." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
