<p id="notice"><%= notice %></p>
<h1>Account</h1>
<h2><%= @customer.name %></h2>
<ul>
	<li>Member since: <%= customer_since(@customer) %></li>
	<li>Total installations: <%= total_installations(@customer) %></li>
	<li>Total beacons: <%= total_beacons(@customer) %></li>
</ul>
<%= link_to "Edit your account", edit_customer_path %><br>
<%= link_to "Add an installation", new_installation %><br>
<%= link_to "View all your users", users_path %>
