<div class="row">
  <div class="col-md-3">
    <% if check_coordinates(@customer) %>
      <div class="image-wrap-main">
        <div class="image-wrap" id="customer-map"></div>
      </div>
    <% else %>
      <%= image_tag "map-missing.png" %>
      <p>Your account currently does not have any attached coordinates.</p>
    <% end %>
    <div class="button-row">
      <%= link_to "Edit Account", edit_customer_path, class: "button" %>
    </div>
  </div>
  <div class="col-md-4">
    <h2><%= @customer.name %></h2>
    <table>
      <tbody>
        <tr>
          <td>Member since: <%= customer_since(@customer) %></td>
        </tr>
        <tr>
          <td>Category: <%= customer_category(@customer) %></td>
        </tr>
        <tr>
          <td>Activation code: <%= @customer.activation_code %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "Total installations: #{total_installations(@customer)}", installations_path(@customer), id: "account-installations-link", class: "link" %>
          </td>
        </tr>
        <tr>
          <td>
            Total beacons: <%= total_beacons(@customer) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "Add New Installation", new_installation_path, class: "link" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <table>
      <thead>
        <tr><th>Payments</th></tr>
      </thead>
      <tbody>
        <tr><td>No payments</td></tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="4">Account Users</th>
        </tr>
      </thead>
      <tbody>
        <% @users.find_each do |user| %>
          <tr>
            <td><%= full_name(user) %></td>
            <td><%= user.email %></td>
            <% if user == current_user %>
              <td class="td-action"><%= link_to image_tag("table-edit-icon.png"), edit_user_path(user), class: "table-icon" %></td>
              <td class="td-action"><%= link_to image_tag("table-delete-icon.png"), user, method: :destroy, data: { confirm: "Are you sure?" }, class: "table-icon" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'customer-map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
