<p id="notice"><%= notice %></p>
<h2>Account</h2>
<% if !(@customer.latitude.nil? || @customer.longitude.nil?) %>
  <ul>
    <li><b>Latitude:</b> <%= cardinalized_latitude(@customer) %></li>
    <li><b>Longitude:</b> <%= cardinalized_longitude(@customer) %></li>
  </ul>
<% else %>
  <%= image_tag "missing.png" %>
  <p>Your account currently does not have any attached coordinates.</p>
<% end %>
<h3>Account Info</h3>
<ul>
	<li><b>Member since:</b> <%= customer_since(@customer) %></li>
  <li><b>Category:</b> <%= customer_category(@customer) %> </li>
  <li><b>Activation code:</b> <%= @customer.activation_code %></li>
	<li><b>Total installations:</b> <%= total_installations(@customer) %></li>
	<li><b>Total beacons:</b> <%= total_beacons(@customer) %></li>
</ul>
<%= link_to "Edit Account", edit_customer_path %><br>
<%= link_to "Add New Installation", new_installation_path %><br>
<%= link_to "View Account Users", users_path %>
