<%= form_for(@user, html: {class: "form"}) do |f| %>
  <h2><%= edit_user_title %></h2>
  <div class="form-contents-wrap">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if current_user.customer_id %>
      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :username %><br>
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </div>
    <% else %>
      <div class="field">
        <%= label_tag :activation_code %><br>
        <%= text_field_tag :activation_code %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
