<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form"}) do |f| %>
  <h2>Forgot your password?</h2>
  <div class="form-contents-wrap">
    <%= devise_error_messages! %>
    <div>
      <%= f.label :email, class: "hidden" %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.submit "Send me reset instructions" %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
