<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<% if !current_user %>
			<li><%= link_to "Sign in", new_user_session_path %></li>
			<li><%= link_to "Sign up", new_user_registration_path %></li>
		<% else %>
			<% if current_user.customer_id %>
				<li><%= link_to "Installations", customer_installations_path(current_user.customer_id) %> </li>
				<li><%= link_to "Account", customer_path(current_user.customer_id) %> </li>
			<% end %>
			<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		<% end %>	
	</ul>
</nav>
