<div id="pre-navbar-header">
  <div id="nav-customer-welcome">
    <% if current_user && !current_user.customer_id.nil? %>
      <h4>Welcome, <%= current_user.customer.name %>!</h4>
    <% end %>
  </div> 
  <%= link_to "Logout", destroy_user_session_path, method: :delete, id: "logout-btn" %>
</div>
<div id="bluebar">
	<nav>
		<ul>
			
			<% if !current_user %>
				<li><%= link_to "Sign in", new_user_session_path %></li>
				<li><%= link_to "Sign up", new_user_registration_path %></li>
			<% else %>
				<% if current_user.customer_id %>
					<li><%= link_to "Installation", customer_installations_path(current_user.customer_id) %> </li>
					<li><%= link_to "Account", customer_path(current_user.customer_id) %> </li>
				<% end %>
			<% end %>
      <% if current_user.customer_id.nil? %>
        <li><%= link_to "Create new company account", new_customer_path %></li>
        <li><%= link_to "Existing company account", edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "About", root_path %></li>
		</ul>
	</nav>
</div>