<% if current_user %>
  <div class="pre-nav">
      <% if !current_user.customer_id.nil? %>
        <span class="pre-nav-welcome">Welcome, <%= link_to current_user.customer.name, customer_path(current_user.customer_id) %>!</span>
      <% end %>
      <% if current_user %>
        <span class="pre-nav-email">You're signed in as <span id="current-user-email"><%= current_user.email %></span></span>
      <% end %>
    <div class="clearfix"></div>
  </div>
<% end %>
<div class="bluebar">
  <% if current_page_installation?(request) %>
    <div class="nav-back-link"><%= link_to "< Installations", installations_path(@customer) %> </div>
  <% end %>
  <% if current_page_beacon?(request) %>
    <div class="nav-back-link"><%= link_to "< #{@installation.name}", installation_path(@installation) %></div>
  <% end %>
  <% if current_page_beacon_edit?(request) %>
    <div class="nav-back-link"><%= link_to "< Beacon", beacon_path(@beacon) %></div>
  <% end %>
	<nav>
		<ul>
			<% if !current_user %>
				<div class="nav-btn"><%= link_to "Sign in", new_user_session_path, class: "#{current_class_sign_in?(request)}" %></div>
				<div class="nav-btn"><%= link_to "Sign up", new_user_registration_path, class: "#{current_class_sign_up?(request)}" %></div>
			<% else %>
				<% if current_user.customer_id %>
          <li><%= link_to "About", root_path, class: "nav-link #{current_class_about?(request)}" %></li>
					<li><%= link_to "Installations", customer_installations_path(current_user.customer_id), class: "nav-link #{current_class_installations?(request)}" %> </li>
          <li><%= link_to "Metrics", "/", class: "nav-link" %> </li>  
					<li><%= link_to "Account", customer_path(current_user.customer_id), class: "nav-link #{current_class_account?(request)}" %> </li>
				<% else %>
          <li><%= link_to "Create new company account", new_customer_path, class: "nav-link #{current_class_new_customer?(request)}" %></li>
          <li><%= link_to "Existing company account", edit_user_path(current_user), class: "nav-link #{current_class_existing_customer?(request)}" %></li>
        <% end %>
      <% end %>
		</ul>
	</nav>
  <% if current_user %>
    <div class="nav-log-out-btn"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
  <% end %>
  <div class="clearfix"></div>
</div>