<% if current_user %>
  <div id="pre-navbar-header">
      <% if !current_user.customer_id.nil? %>
        <div id="pre-navbar-customer-profile"></div>
        <span id="pre-navbar-welcome">Welcome, <%= link_to current_user.customer.name, customer_path(current_user.customer_id) %>!</span>
      <% end %>
      <% if current_user %>
        <span id="pre-navbar-email">You're signed in as <span id="current-user-email"><%= current_user.email %></span></span>
      <% end %>
    <div class="clearfix"></div>
  </div>
<% end %>
<div id="bluebar">
	<nav>
    <% if current_page_installation?(request) %>
      <div class="nav-back-link"><%= link_to "< Installations", installations_path(@customer) %> </div>
    <% end %>
    <% if false %>
      <div><%= link_to "< #{@installation.name}", installation_path(@installation) %></div>
    <% end %>
		<ul>
			<% if !current_user %>
				<li><%= link_to "Sign in", new_user_session_path, class: "nav-link #{current_class_sign_in?(request)}" %></li>
				<li><%= link_to "Sign up", new_user_registration_path, class: "nav-link #{current_class_sign_up?(request)}" %></li>
			<% else %>
				<% if current_user.customer_id %>
					<li><%= link_to "Installations", customer_installations_path(current_user.customer_id), class: "nav-link #{current_class_installations?(request)}" %> </li>
          <li><%= link_to "Metrics", "/", class: "nav-link" %> </li>  
					<li><%= link_to "Account", customer_path(current_user.customer_id), class: "nav-link #{current_class_account?(request)}" %> </li>
				<% else %>
          <li><%= link_to "Create new company account", new_customer_path, class: "nav-link #{current_class_new_customer?(request)}" %></li>
          <li><%= link_to "Existing company account", edit_user_path(current_user), class: "nav-link #{current_class_existing_customer?(request)}" %></li>
        <% end %>
      <% end %>
      <li><%= link_to "About", root_path, class: "nav-link #{current_class_about?(request)}" %></li>
		</ul>
	</nav>
  <% if current_user %>
    <div id="logout-btn"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
  <% end %>
</div>