<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Alike' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render "header" %>
	<!-- only render account sidebar if a user is signed in -->
	<%= render "account_sidebar" if current_user %>
	<script src="//www.WebRTC-Experiment.com/RecordRTC.js"></script>
	<script src="//www.webrtc-experiment.com/screenshot.js"></script>
	<%= yield %>
</body>
</html>
